@import url('https://fonts.cdnfonts.com/css/cardium-a');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'cardium-a';
}



/*nav*/

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.nav {
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}

.nav-logo {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    z-index: 1;
    background-color: #BDBDBD;
}


.nav-hamburguer,
.nav-close {
    cursor: pointer;
    grid-template-columns: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
    position: absolute;
    right: 50px;
}

.nav-hamburguer {
    transform: var(--state-hamburguer);
}

.nav-close {
    transform: var(--state-close);
}

.nav-icon {
    width: 100px;
}

.nav-links {
    background-color: #BDBDBD;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 4em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #000000;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-left: 20px;
}

/*inicio*/

.hero-inicio {
    background-image: url(../assets/inicio/Fondo\ INICIO.jpg);
    background-size: cover;
    min-height: 500px;
    height: 100vh;
    color: #BDBDBD;
}

/*menu*/

.hero-menu {
    background-image: url(../assets/menu/Fondo\ MENU.jpg);
    background-size: cover;
    min-height: 300px;
    height: 10vh;
    color: #BDBDBD;
}

.fondo-menu {
    background-image: url(../assets/menu/Fondo\ MENU.jpg);
    width: 1359px;
    height: 1600px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.container-linea1 {
    width: 100%;
    display: flex;
    margin-bottom: 1200px;
    height: 100%;
    max-height: 500px;
    padding-left: 20px;
    position: absolute;
}

.card-linea1 {
    width: 100%;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
}

.card-linea1 .container-linea1 {
    padding: 15px;
    text-align: center;
}

.container-linea2 {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    height: 100%;
    max-height: 500px;
    margin-left: 10px;
    position: absolute;
}

.card-linea2 {
    width: 100%;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
}

.card-linea2 .container-linea2 {
    padding: 15px;
    text-align: center;
}

.container-linea3 {
    width: 100%;
    display: flex;
    margin-top: 1000px;
    height: 100%;
    max-height: 500px;
    margin-left: 10px;
    position: absolute;
}

.card-linea3 {
    width: 100%;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
}

.card-linea3 .container-linea3 {
    padding: 15px;
    text-align: center;
}

.container-pizza1 {
    width: 100%;
    display: flex;
    margin-bottom: 1040px;
    height: 100%;
    max-height: 500px;
    margin-left: 10px;
    position: absolute;
}

.card-muzza {
    width: 300px;
    height: 300px;
    margin-left: 70px;
    text-align: start;
    margin-bottom: 200px;
}

.muzza1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #009246;
    border-radius: 100px;
    left: 155px;
}

.muzza2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 430px;
    left: 150px;
}

.card-napolitana {
    width: 300px;
    height: 300px;
    margin-left: 150px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 20px;
}

.napolitana1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #009246;
    border-radius: 100px;
    left: 540px;
}

.napolitana2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 430px;
    left: 600px;
}

.card-margherita {
    width: 300px;
    height: 300px;
    margin-left: 130px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 10px;
}

.margherita1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #009246;
    border-radius: 100px;
    left: 975px;
}

.margherita2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 430px;
    left: 1040px;
}


.container-pizza2 {
    width: 100%;
    display: flex;
    margin-bottom: 220px;
    height: 100%;
    max-height: 500px;
    margin-left: 10px;
    position: absolute;
}

.card-jamonymorron {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    text-align: start;
    margin-bottom: 200px;
    margin-top: 130px;
}

.jamon-morron1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #009246;
    border-radius: 60px;
    left: 100px;
    bottom: 430px;
}

.jamon-morron2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 430px;
    left: 140px;
}

.card-cuatroquesos {
    width: 300px;
    height: 300px;
    margin-left: 160px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 70px;
}

.cuatroquesos1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #009246;
    border-radius: 100px;
    left: 560px;
    bottom: 430px;
}

.cuatroquesos2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 430px;
    left: 580px;
}

.card-pepperoni {
    width: 300px;
    height: 300px;
    margin-left: 150px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 10px;
}

.pepperoni1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #009246;
    border-radius: 100px;
    left: 1000px;
    top: 800px;
}

.pepperoni2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 1240px;
    left: 1050px;
}

.container-pizza3 {
    width: 100%;
    display: flex;
    margin-top: 620px;
    height: 100%;
    max-height: 500px;
    margin-left: 10px;
    position: absolute;
}

.card-tomate {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    text-align: start;
    margin-bottom: 200px;
    margin-top: 130px;
}

.tomate1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #009246;
    border-radius: 60px;
    left: 100px;
    bottom: 450px;
}

.tomate2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 440px;
    left: 130px;
}

.card-jamon {
    width: 300px;
    height: 300px;
    margin-left: 160px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 280px;
}

.jamon1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #009246;
    border-radius: 100px;
    left: 565px;
    bottom: 450px;
}

.jamon2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 440px;
    left: 590px;
}

.card-especial {
    width: 300px;
    height: 300px;
    margin-left: 150px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 120px;
}

.especial1{
    color: #161616;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #009246;
    border-radius: 100px;
    left: 990px;
    bottom: 450px;
}

.especial2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #CE2B37;
    border-radius: 100px;
    top: 440px;
    left: 1050px;
}

/*nosotros*/

.hero-nosotros {
    background-image: url(../assets/nosotros/Fondo\ NOSOTROS.jpg);
    background-size: cover;
    min-height: 50px;
    height: 0vh;
    color: #BDBDBD;
}

.fondo-nosotros {
    background-image: url(../assets/nosotros/Fondo\ NOSOTROS.jpg);
    width: 100%;
    height: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

/*promociones*/

.hero-promociones {
    background-image: url(../assets/promociones/Fondo\ PROMOCIONES.jpg);
    background-size: cover;
    min-height: 80px;
    height: 0vh;
    color: #BDBDBD;
}

.fondo-promociones {
    background-image: url(../assets/promociones/Fondo\ PROMOCIONES.jpg);
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.texto-promocion {
    color: white;
    text-align: center;
    font-size: 50px;
    bottom: 500px;
    padding-top: 100px;
    justify-content: center;
}

.promo1{
    width: 600px;
    height: 600px;
    margin-right: 40px;
    border-radius: 10%;
    margin-left: 70px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 10px;
}

.promo2{
    width: 600px;
    height: 595px;
    border-radius: 10%;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 10px;
}

/*contacto*/

.hero-contacto {
    background-image: url(../assets/contacto/fondo\ contacto\ 2.png);
    background-size: cover;
    min-height: 200px;
    height: 10vh;
    color: grey;
}

.fondo-contacto1 {
    background-image: url(../assets/contacto/fondo\ contacto\ 2.png);
    width: 1365px;
    height: 1500px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.fondo-contacto2 {
    margin-right: 650px;
}

.formulario{
    margin-left: 100px;
    position: absolute;
    top: 400px;
    right: 150px;
    background-color: #BDBDBD;
    margin-top: 200px;
    font-size: 20px;
    border-radius: 50px;
    width: 400px;
}


.asunto{
    position: relative;
    margin-top: 200px;
    margin-left: 110px;
}

.nombre-apellido{
    position: relative;
    margin-top: 10px;
    margin-left: 110px;
}

.email{
    position: relative;
    margin-top: 10px;
    margin-left: 110px;
}

.mensaje{
    position: relative;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: 110px;
}

.boton {
    left: 110px;
    color: #FFFFFF;
    background-color: #CE2B37;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    margin-left: 25px;
}




/*footer*/

footer {
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 70px;
    font-size: 20px;
}

/*responsive desing*/

@media (min-width:1024px) {
    .hero-inicio {
        background-image: url(../assets/inicio/Fondo\ INICIO.jpg);
        background-size: cover;
        min-height: 750px;
        height: 100vh;
        color: #BDBDBD;
    }
    .nav {
        --state-hamburguer: scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target {
        --state-close: scale(0);
    }
    .nav-links {
        padding: 0;
        background-color: #BDBDBD;
        padding: 50px;
        position: unset;
        gap: 0em;
        grid-auto-flow: column;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
        border-radius: 50px;
    }

    .nav-link {
        font-size: 30px;
        letter-spacing: none;
    }
}

.fondo-nosotros {
    background-image: url(../assets/nosotros/Fondo\ NOSOTROS.jpg);
    width: 100%;
    height: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.texto-nosotros-1 {
    text-align: center;
    margin-left: 50px;
    margin-bottom: 400px;
    background-color: #BDBDBD;
    font-size: clamp(20em, 5wh, 5em);
    border-radius: 40px;
    opacity: .7;
}

.texto-nosotros-2 {
    text-align: center;
    font-size: clamp(2em, 5wh, 5em);
    color: #FFFFFF;
    background-color: #161616;
    border-radius: 15px;
    justify-content: center;
    position: absolute;
    opacity: .8;
    right: 10px;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 70px;
    font-size: 20px;
}
